*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  font-family: "Source Serif 4", serif;
  background: #252526;
  color: white;
  overflow: hidden;
  display: grid;
  grid-template-areas: 'main'
  'footer';

}

.circle{
  width: 165px;
  height:165px;
  background:url('https://i.pinimg.com/736x/23/95/bd/2395bdde211fb5045ef8ea7c68209ebd.jpg') no-repeat;
  background-size:190%;
  background-position: top center;
  border-radius:50%;
  margin: 0 auto;
  border: 3px solid #00FFFF;
  animation: animation 2s linear 1s infinite normal ;
}  

.detalhes p:nth-child(1){
  font-size: 22px;
  margin-top: 8px;
}

.detalhes p:nth-child(2){
  font-size: 13px;
  opacity: 0.8;
  margin-top: 3px;
}

.detalhes p:nth-child(3){
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 18px;
}

@keyframes animation{
  15%{ border-color: #a0d5f3 ;}
  30%{ border-color: #68bfee;}
  50%{ border-color: #198ac8; }
  100%{ border-color:  #a2d3ec;}
}
.ph{
  color: white;
  font-size: 25px;
}

.ph:hover{
  color: #00FFFF;
}

.grupo-icon{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center; 
}

ul li {
  background: black;

  width: 345px;
  height: 40px;

  color: white;
  margin: 15px;

  border-radius: 3px;

  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;

  transition: transform .4s;
}

ul li:hover  {
  transform: scale(1.05);
  transition: transform .4s, border .4s;  

  cursor: pointer;
}


@keyframes upDrop{
  from {
    
    transform: translateY(30px);
  }
  to{
    
    transform: translateY(0px);
  }
} 
main{
  grid-area: main;
}

footer{
  grid-area: footer;
  padding: 0.3rem 0;
  text-transform: uppercase; 
  font-size: 0.8rem; 
}

footer p a{
  color: #ffffff;
}
footer p a:hover{
  color: #68bfee;
}
@media (max-width: 408px){
  ul li{
  width: 300px;
  height: 40px;
  }
  .icon{
  width:  20px; 
  height: 20px;
  padding: 13px;
  }

  .links{
  right: 19%;
  }
}